body, h1, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    line-height: 1.6;
    color: #c1c1c1;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

h1 {
    color: #e5e5e5;
    margin-bottom: 20px;
}

a {
    color: #60a3bc;
}

.project p {
    margin: 10px 0;
}

a.back-link {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    background-color: #60a3bc;
    color: #fff;
    border-radius: 5px;
}

.project {
    border: 1px solid #333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #2a2a2a;
}

.project a {
    font-weight: bold;
    font-size: 18px;
}

a.back-link {
    text-align: center;
    width: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image {
    margin: 10px;
    border: 2px solid #c1c1c1;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.content-container {
    border: 1px solid #444;
    padding: 20px;
    border-radius: 5px;
    background-color: #2a2a2a;
    margin: 20px 0;
}

.content-container p ul {
    padding-left: 20px;
}

.content-container p ul li {
    margin-bottom: 10px;
}

.content-container p ul ul li {
    margin-left: 20px;
    font-style: italic;
}

.content-container p {
    line-height: 1.8;
}

.image-container figcaption {
    text-align: center;
    color: #c1c1c1;
    font-size: 12px;
    text-decoration: underline;
}