body, h1, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Dark background */
    line-height: 1.6;
    color: #c1c1c1; /* Soft light text color */
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

h1 {
    color: #e5e5e5; /* Slightly lighter header color */
    margin-bottom: 20px;
}

a {
    color: #60a3bc; /* Complementary link color */
}

.project p {
    margin: 10px 0;
}

a.back-link {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    background-color: #60a3bc; /* Matching with link color */
    color: #fff;
    border-radius: 5px;
}

.project {
    border: 1px solid #333; /* Darker border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #2a2a2a; /* Slightly lighter container background */
}

.project a {
    font-weight: bold;
    font-size: 18px;
}

a.back-link {
    text-align: center;
    width: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image {
    margin: 10px;
    border: 2px solid #c1c1c1; /* Border matching text color */
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Darker shadow */
}




.content-container {
    /* width: 1000px; */
    border: 1px solid #444; /* Border around the content */
    padding: 20px;
    border-radius: 5px; /* Rounded corners */
    background-color: #2a2a2a; /* Same as the project background */
    margin: 20px 0;
}

.content-container p ul {
    padding-left: 20px; /* Indentation for the list */
}

.content-container p ul li {
    margin-bottom: 10px; /* Spacing between list items */
}

.content-container p ul ul li {
    margin-left: 20px; /* Indentation for nested lists */
    font-style: italic; /* Styling for nested lists */
}

.content-container p {
    line-height: 1.8; /* Improved line height for readability */
}
